<!doctype html>
<html>
	<head>
		<title>Meadowlark Travel</title>
		{{#if showTests}}
			<link rel="stylesheet" href="/vendor/mocha.css">
		{{/if}}
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	</head>
	<header><img src="img/openmrs.gif"></header>
	<body>
		<div class="container">
			{{{body}}}
			<footer>&copy;2016 Meadowlark Travel</footer>	
		{{#if showTests}}
			<div id="mocha"></div>
			<script type="text/javascript" src="/vendor/mocha.js"></script>
			<script type="text/javascript" src="/vendor/chai.js"></script>
			<script type="text/javascript">
				mocha.ui('tdd')
				var assert = chai.assert;
			</script>
			<script type="text/javascript" src="/qa/global-tests.js"></script>
			{{#if pageTestScript}}
				<script type="text/javascript" src="{{pageTestScript}}"></script>
			{{/if}}
			<script type="text/javascript">
				mocha.run();
			</script>
		{{/if}}
		</div>
	</body>
</html>
